
<html>

<h1>Battle!</h1>
<h2>Sign in to play</h2>

<% if @game %> 
<p><%= @game.player_1.name %> vs. <%= @game.player_2.name %></p>
<p><%= @game.player_2.name %>: <%= @game.player_2.hit_points %> points</p>
<p><%= @game.current_turn.name %>'s turn</p>
<% end %>

<form action="/names" method="post">
  <label for="player_1_name">
  Player 1 name
  <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
  Player 2 name
  <input type="text" name="player_2_name">
  </label>
  <input type="submit" name="Submit">
</form>
<a href="attack">Attack</a>

</html>
